{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title%} {{ title }} {% endblock %}
{% block content%}


<div class="container py-4 text-center">


    {% if current_user.is_authenticated %}

   <div class="container">
       {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Create your group here!</h1>

    {{ wtf.quick_form(form, button_map={'submit': 'primary'})}}

        <br>

            <a href={{url_for('join_group')}} class="btn btn-secondary" role="button" >Or join a group here</a>

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

    {% else %}

    <a href="{{url_for('login')}}">Sign in/Sign Up</a>
    
    {% endif %}
</div>
{% endblock %}