{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<nav class="navbar float-start">
  <div class="container-fluid ">
    <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#settings" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-fw fa-lg fa-gear"></span>
    </button>
    <div class="collapse navbar-collapse" id="settings">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {%if owner%}
        <li class="nav-item">
          <button type="button" class="btn link-danger nav-link" data-bs-toggle="modal" data-bs-target="#deletionModal">Delete group "{{group}}"</button>
        </li>
          {%endif%}
          <li class="nav-item">
          <button type="button" class="btn link-danger nav-link" data-bs-toggle="modal" data-bs-target="#leaveModal">Leave group "{{group}}"</button>
        </li>
          <li class="nav-item">
              <a class="btn btn-warning" href={{url_for('alter', group = group, ntp = ntp )}}>Turn notifications for "{{group}}" {{notifs_on}}</a>

        </li>

    </div>
  </div>
</nav>

<div class="container py-4 text-center">
        {% if current_user.is_authenticated %}



    {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
    <br>
    <h1 class = "position-absolute start-50 translate-middle">Articles</h1>
    <br>
    <br>
    <br>
    <h3 class = "position-absolute start-50 translate-middle">{{group}}</h3>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table id = "singleGroup" class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Date of Post (in UTC)</th>
      <th scope="col">User</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      <th scope="col">Comment</th>
        <th scope="col">Genre</th>
      </tr>
  </thead>
         <tbody id="articleTable">
    {% for article in query %}
        <tr>
            <td>
              {{article.date}}
          </td>
          <td >
              {{article.username}}
          </td>
            <td>
              {{article.title}}
          </td>
            <td>
             <a href = {{article.link}}> {{article.link}} </a>
          </td>
            <td>
            {{article.comment}}
          </td>
            <td>
            {{article.category}}
          </td>

        </tr>
        {% endfor %}
 </tbody>
</table>
        <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletionModalLabel">Are you sure you want to delete {{group}}?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action can not be undone.
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action={{url_for('deletegroups',group=group)}} method="post">
              <button class="btn btn-danger confirm-delete" role="button" data-target="#confirmDeleteModal">Delete Group</button>
</form>

      </div>
    </div>
  </div>
</div>


        <div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leaveModalLabel">Are you sure you want to leave {{group}}?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action can not be undone.
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action={{url_for('leavegroup',group=group)}} method="post">
              <button class="btn btn-danger confirm-delete" role="button" data-target="#confirmLeaveModal">Leave Group</button>
</form>

      </div>
    </div>
  </div>
</div>



    </div>

    {% else %}

    <a href="{{url_for('login')}}">Sign in/Sign Up</a>

    {% endif %}
</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#articleTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
$(document).ready(function () {
  $('#singleGroup').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>

{% endblock %}
